This notebook uploads the weather data from the weather_data.csv files and creates an HTML table with its data.

In [1]:
# Dependencies
import pandas as pd
import os
import json

In [2]:
#Import Cities from file downloaded from openweather.com
filepath = os.path.join('/','Users','joser', 'Documents', 'git', 'Trilogy', 'In-Class', 'Homework', '06-Python-APIs', 'UCF_Data_Bootcamp_Homework_6', 'WeatherPy', 'city.list.json')

cities_pd = pd.read_json(filepath, encoding="utf-8")

# Import the country codes file to get the country names.
filepath = filepath = os.path.join('/','Users','joser', 'Documents', 'git', 'Trilogy', 'In-Class', 'Homework', '06-Python-APIs', 'UCF_Data_Bootcamp_Homework_6', 'WeatherPy', 'countryCodes.json')
countryCodes = pd.read_json(filepath, orient="index", encoding="utf-8" )
countryCodes.index.rename("country", inplace=True)
countryCodes.columns=["Country Name"]

# Merge the city list with the country names data frames:
merged_data = cities_pd.merge(countryCodes, how="inner", on="country")
merged_data.head(10)

,id,name,state,country,coord,Country Name
0,833,Ḩeşār-e Sefīd,,IR,"{'lon': 47.159401, 'lat': 34.330502}","Iran, Islamic Republic Of"
1,3245,Taglag,,IR,"{'lon': 44.98333, 'lat': 38.450001}","Iran, Islamic Republic Of"
2,3530,Qabāghlū,,IR,"{'lon': 46.168499, 'lat': 36.173302}","Iran, Islamic Republic Of"
3,7264,Kalāteh-ye Dowlat,,IR,"{'lon': 57.616982, 'lat': 36.163841}","Iran, Islamic Republic Of"
4,8084,Behjatābād,,IR,"{'lon': 51.461639, 'lat': 36.667431}","Iran, Islamic Republic Of"
5,9874,Ţālesh Maḩalleh,,IR,"{'lon': 50.679192, 'lat': 36.894329}","Iran, Islamic Republic Of"
6,11263,Shahrīār Kandeh,,IR,"{'lon': 53.19902, 'lat': 36.631939}","Iran, Islamic Republic Of"
7,11754,Bālā Aḩmad Kolā,,IR,"{'lon': 52.667271, 'lat': 36.649059}","Iran, Islamic Republic Of"
8,14177,Āqdūz,,IR,"{'lon': 44.26556, 'lat': 39.197498}","Iran, Islamic Republic Of"
9,14256,Āzādshahr,,IR,"{'lon': 48.570728, 'lat': 34.790878}","Iran, Islamic Republic Of"

In [3]:
# Read in the weather data from csv file created in WeatherPy.ipynb
filepath = os.path.join('/','Users','joser', 'Documents', 'git', 'Trilogy', 'In-Class', 'Homework', '06-Python-APIs', 'UCF_Data_Bootcamp_Homework_6', 'WeatherPy', 'weather_data.csv')
weather_data = pd.read_csv(filepath)
print("Processing %d cities." % len(weather_data))
#Merge weather_data with merged_data dataframes
weather_data  = weather_data.merge(merged_data, left_on='City ID', right_on='id', how='inner')
#Drop the id column
del weather_data['id']
#use nicer column names
weather_data.rename(columns = {'Lon' : 'Longitude', 'Lat' : 'Latitute', 'name': 'City Name', 'state':'State', 'country':'Country', 'coord':'Coordinates'}, inplace = True)
weather_data.head()

Processing 600 cities.

,City ID,Latitute,Longitude,Temp,Humidity,Cloudiness,Wind Speed,City Name,State,Country,Coordinates,Country Name
0,4773690,38.4123,-79.5806,48.33,6,100,4.00,Monterey,VA,US,"{'lon': -79.580597, 'lat': 38.412338}",United States
1,3465495,-21.3519,-50.2814,77.58,69,46,5.21,Coroados,,BR,"{'lon': -50.281391, 'lat': -21.35194}",Brazil
2,334700,9.2167,41.1000,66.36,35,62,4.05,Hīrna,,ET,"{'lon': 41.099998, 'lat': 9.21667}",Ethiopia
3,687032,45.3708,36.6283,39.20,65,100,6.71,Zhukovka,,UA,"{'lon': 36.628334, 'lat': 45.370834}",Ukraine
4,2522160,37.4614,-3.9230,50.23,82,20,6.91,Alcalá la Real,,ES,"{'lon': -3.92301, 'lat': 37.461399}",Spain

In [4]:
weather_data.to_html('./Resources/weather_data.html', classes="table-responsive")